@inherits LayoutComponentBase
@using WebServiceGilBT.Data;
@inject AuthenticationStateProvider AuthenticationStateProvider
@layout MainLayout

<div class="top-row2 px-4">
	<button class="btn btn-header" @onclick="ApplyClicked">Save changes</button>
	<button class="btn btn-header" @onclick="CancelClicked">Exit</button>
</div>

<div class="content px-4">
	@Body
</div>

@code {
	public void Logout(){
		((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLogout();
	}
}
