@inherits LayoutComponentBase
@using WebServiceGilBT.Data;
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class = "col-12">
	<br/><br/>
	<div class="col-12 row">
		<div class="col-6" style="border-right:groove">
			<img src="/img/gilbtlogo.png"/>
		</div>
		<div class="col-6" style="border-left:groove">
			@Body
		</div>
	</div>
</div>
