@using WebServiceGilBT.Data;
@using WebServiceGilBT.Services;
@using WebServiceGilBT.Shared;
@implements IDisposable

<div style="display:flex ; flex-direction:row">
    <div style="display:flex ; flex-direction:column">
        <input style="margin:10px" type="text" @bind="filterString" @bind:event="oninput" />
    </div>
</div>

@if (loading) {
    <div style="margin:15px">
        <label>loading...</label>
    </div>
}

@if (filterString.Length > 2 && !gminaWybrana) {
    <div style="display:inline-block ; border:solid ; border-width:1px ; background-color:azure ; width:50% ">
        @foreach (Gmina g in filteredList) {
            <label class="hintLabel" @onclick="(() => wybranoGmine(g))"> @g.stringPodpowiedzi</label><br />
        }
    </div>
}
