@page "/Configure"
@page "/Configure/{Uid:int}"
@using WebServiceGilBT.Shared

@if ( user.IsScreenAccessedByUser(Uid)){
	<div class="top-row2 px-4">
		<button class="btn btn-header" @onclick="ApplyClicked">Save changes</button>
		<button class="btn btn-header" @onclick="CancelClicked">Exit</button>
	</div>

	<div class="content px-4">
		<ScreenEditor Screen="@Screen"/>
	</div>
}
