@page "/"
@using WebServiceGilBT.Shared

<h1>Hello, world!</h1>

Welcome to your GilBT app.

@foreach( GilBTScreen sc in ScreenList.Screens){
    <ScreenComponent Screen="@sc"/>
}

@* <SurveyPrompt Title="How is Blazor working for you?" /> *@
